<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Books&amp;Co
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>

		{#FONTS#}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/0434b5e439.js" crossorigin="anonymous"></script>

		{#CSS#}
             {{ encore_entry_link_tags('app') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container mx-auto grid grid-row-3 h-screen  static">

			{#--Header--#}	
			<div class = "fixed  mt-0 container ">
			
				{% if app.user %}
					{% include 'header-co.html.twig' %}	
				{% else %}
					{% include 'header.html.twig' %}	
				{% endif %}
			</div>
			
			<div class="flex flex-nowrap w-full mx-auto  ">
			
				<div class="  h-screen w-1/6 sticky">
		

			{#--Navigation -- only when connected#}

				
					{% if app.user %}
					{% include 'nav.html.twig' %}
				{% endif %}	
				
				</div>
			{#--Main--#}
				<div class="  overflow-hidden w-5/6  h-100 flex-grow top-50">
				
					
					{% block main %}{% endblock %}			
				</div>
			
			</div>
			<div class=" container w-full ">
	
	
			{#--Footer--#}
				{% include 'footer.html.twig' %}		
			</div>	
		</div>	
	</body>
</html>
