<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Books&amp;Co
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>

		{#FONTS#}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/0434b5e439.js" crossorigin="anonymous"></script>

		{#CSS#}
             {{ encore_entry_link_tags('app') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container mx-auto">
			{% block header%}
				{% if app.user %}
					{% include 'header-co.html.twig' %}	
				{% else %}
					{% include 'header.html.twig' %}	
				{% endif %}
			{% endblock %}

			{% block main %}
				{% if app.user %}
					{% include 'nav.html.twig' %}
				{% endif %}
			
			
			{% endblock %}

			{% include 'footer.html.twig' %}			
		</div>
	</body>
</html>
