<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
				           and uncomment the following Encore helpers to start using Symfony UX #}
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0"/>

		{#FONTS#}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">

		{#CSS#}
             {{ encore_entry_link_tags('app') }}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container mx-auto">
			{% block header%}
				<header class="text-gray-600 body-font py-6">
					<div class="flex items-center justify-between flex-wrap">
						<a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
							<img src="{{asset("assets/img/illustrations")}}/logo.svg" alt="Logo de BooksAndCo">
							<span class="font-cursive ml-3 text-xl logo text-pink-600">Books&amp;Co</span>
						</a>
						<div>
							<a href="#" class="font-semibold">Créer un compte</a>
						<button class="inline-flex custom-btn items-center focus:outline-none text-base mt-4 md:mt-0">Connexion</button>
						</div>						
						</div>
					</header>
			{% endblock %}

			{% block main %} {% endblock %}

			{% include 'footer.html.twig' %}			
		</div>
	</body>
</html>
