<footer class="text-white body-font bg-blue z-1">
	<div class="pl-5 py-12 flex flex-row justify-center items-center">
		<div>
			<a href="{{ path('accueil_browse') }}" class="flex title-font font-medium items-center mb-4 md:mb-0">
				<img src="{{ asset("assets/img/illustrations") }}/logo.svg" alt="Logo de BooksAndCo">
				<span class="ml-3 text-xl logo text-pink font-cursive">Books&amp;Co</span>
			</a>
		</div>
		<div class="flex-grow flex flex-wrap text-center">
			<div class="lg:w-1/4 md:w-1/2 w-full px-4">
				<a href="#" class="">Plan du site</a>
			</div>
			<div class="lg:w-1/4 md:w-1/2 w-full px-4">
				<a href="#" class="">A propos</a>
			</div>
			<div class="lg:w-1/4 md:w-1/2 w-full px-4">
				<a href="#" class="">Mentions légales</a>
			</div>
			<div class="lg:w-1/4 md:w-1/2 w-full px-4">
				<a href="#" class="">CGU</a>
			</div>
		</div>
	</div>
	<div class="text-grey bg-blue-dark">
		<div class="mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
			<p class=" text-sm text-center sm:text-left">© 2021 Books&amp;Co —
				<a href="#" class="ml-1" target="_blank">Charlotte, Michelle &amp; Sylvain</a>
			</p>
			<a class="inline-flex text-sm sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
				Crédit Illustrations
			</a>
		</div>
	</div>
</footer>
