{% extends 'base.html.twig' %}

{% block title %}Books&amp;Co | Modifier son mot de passe
{% endblock %}

{% block main %}

	<div class="text-center p-0 font-sans">

		<h1 class="text-blue text-3xl font-medium font-cursive">Modifier mon mot de passe</h1>
		<h2 class="text-pink pt-4">Saisissez au moins 8 caractères, dont une majuscule, une minuscule, et un chiffre, sans caractères spéciaux (ex : #, @, &, etc...)</h2>
	</div>

	{% for message in app.flashes('error') %}
		<div class="col-xs4">
			<div class="p-3 my-2 error">{{message}}</div>
		</div>
	{% endfor %}
	<div class="md:w-3/5 max-w-lg mx-auto lg:my-24 my-8 px-3 py-5">
		<form method="post">
			<div class="mt-5 flex lg:justify-between lg:flex-row flex-col items-center text-center">
				<label for="pass" class="lg:w-1/2">Nouveau mot de passe</label>
				<input type="password" id="pass" name="pass" class="block rounded-full lg:w-1/2 p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent">
			</div>
			<div class="mt-5 flex lg:justify-between lg:flex-row flex-col items-center text-center">
				<label for="pass2" class="lg:w-1/2">Confirmer le mot de passe</label>
				<input type="password" id="pass2" name="pass2" class="block rounded-full lg:w-1/2 p-2 bg-grey focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent">
			</div>
			<div class="flex lg:justify-between lg:flex-row flex-col lg:w-full mt-10">
				<div></div>
				<div class="text-center">
					<button class="custom-btn inline-block focus:outline-none lg:text-base text-sm text-white text-center">Enregistrer les modifications</button>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
